<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notion Finance Tracker</title>
    </head>

    <body>
        <form action="/create-transactions" method="POST" enctype="multipart/form-data">
            <div>
                <label>Notion API Token:</label>
                <input type="password" name="notionAPIToken" id="notion-api-token" />
            </div>
            <div>
                <label>Notion Database ID:</label>
                <input type="text" name="notionDatabaseID" id="notion-database-id" />
            </div>
            <div>
                <input type="file" name="csvFile" id="csv-file" />
                <button type="submit">Upload</button>
            </div>
        </form>

        <script src="dist/src/server.js">

        </script>
    </body>

</html>